.impdates-container{
    background-color: #fff;
    padding: 30px; 
    margin-bottom: 15px; 
}
.dates-heading {
    margin-left: 30px; 
  }
  
  .dates-table {
    padding-left: 30px; 
    padding-right: 30px; 
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #012f12;
    color: #fff; 
  }
  
  td:nth-child(4) {
    width: fit-content;
    /* max-height: 100px;
    overflow-y: auto; */
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .impdates-container {
        padding: 15px;
        margin-bottom: 10px;
    }
  
    .dates-heading, .dates-table {
        padding-left: 15px;
        padding-right: 15px;
    }
  }